@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
  }
}

.scroll-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.scroll-container::-webkit-scrollbar {
  height: 12px; /* Adjust the height of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #FFF; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Round the corners of the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #FFF; /* Color of the scrollbar track */
  border-radius: 6px; /* Round the corners of the scrollbar track */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herbg {
  background: linear-gradient(to right, #9F00FF, #F0C27D);
  background-repeat: no-repeat;  
  background-size: cover;               
  margin: 0;                     
}

.custom-after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 1.75rem;
  opacity:40% ;
  background-color: #717171; /* Replace with your desired color */
}

.backdrop-container {
  position: relative;
}

.backdrop-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

#tags {
  width: 100%;
}

#tags .ReactTags__tags {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border: 1px solid black;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}

#tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 100%;
  margin: 0;
  font-size: 16px;
  width: 100%;
  padding: 0px 10px;
}

#tags .ReactTags__editInput {
  border-radius: 1px;
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #8d62f4;
  color: white;
  font-size: 12px;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

#tags .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  margin-left: 5px;
}

#tags input {
  background-color: #f9f9f9;
  border: none;
  outline: none;
}

#tags input:before {
  border: none;
}